.advantages {
    padding: 80px 0;
    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-align: center;
        color: #393939;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 487px;
    }
    &__wrapper {
        width: 1140px;
        margin-top: 44px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 570px;
        height: 355px;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            color: #ffffff;
            font-family: Roboto;
            font-size: 23px;
            font-weight: 400;
            line-height: 23px;
            text-align: center;
        }
        &_background-1 {
            background: url('../img/advantages/watch.jpg') center (center/cover) no-repeat;
        }
        &_background-2 {
            background: url('../img/advantages/mechanic_hand.jpg') center (center/cover) no-repeat;
        }
        &_background-3 {
            background: url('../img/advantages/world.jpg') center (center/cover) no-repeat;
        }
        &_background-4 {
            background: url('../img/advantages/phone.jpg') center (center/cover) no-repeat;
        }
        &_background-5 {
            background: url('../img/advantages/suit.jpg') center (center/cover) no-repeat;
        }
        &_background-6 {
            background: url('../img/advantages/credit_card.jpg') center (center/cover) no-repeat;
            // transform: translateX(-2px);
        }

    }
    
}