.promo {
    position: relative;
    min-height: 700px;
    &__wrapper {
        margin: 237px 0 0 138px;
        position: absolute;
        top: 0; 
    }
    &__backgrounds { 
        display: flex;
        width: 7680px;
        transition: all 0.5s;
    }
    &__background { 
        width: 100%;
    }
    &__backgrounds-window { 
        width: 1920px;
        height: 720px;
        overflow: hidden;
    }
    &__nav {
        position: absolute;
        width: 106px;
        display: flex;
        justify-content: space-between;
        left: 50%;
        transform: translate(-50%, -90px);
        &-items {
            width: 66px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-item {
            width: 12px;
            height: 12px;
            border: 1px solid #ffffff;
            border-radius: 100%;
        }
        &-prev {
            color: #ffffff;
            font-size: 12px;
        }
        &-next {
            color: #ffffff;
            font-size: 12px;
        }
    }
    &__logo {
        cursor: pointer;
        margin: 39px 0 0 138px;
    }
    &__header {
        position: absolute;
        display: flex;
        top: 0;
    }
    &__menu {
        margin-top: 64px;
        position: absolute;
        left: 356%
    }
    &__menu-wrapper{
        width: 540px;
        display: flex;
        justify-content: space-between;
    }
    &__menu-item {
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__title {
        max-width: 530px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        line-height: 48px;
    }
    &__subtitle {
        max-width: 426px;
        margin-top: 27px;
        span {
            
            font-weight: 400;
        }
        line-height: 24px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
    }
}