.touch {
    padding: 80px 0;
    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-top: 74px;
        color: #393939;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }
    
}